*.java.hsp
*.sonarj
*.sw*
.DS_Store
.settings
.springBeans
bin
build.sh
integration-repo
ivy-cache
jxl.log
jmx.log
derby.log
spring-test/test-output/
.gradle
argfile*
pom.xml
activemq-data/
node_modules/


/build
buildSrc/build
/spring-*/build
/src/asciidoc/build
target/

# Eclipse artifacts, including WTP generated manifests
.classpath
.project
spring-*/src/main/java/META-INF/MANIFEST.MF

# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
.idea
out
test-output
atlassian-ide-plugin.xml
.gradletasknamecache
/html5/audioAndViedo/johann_sebastian_bach_air.mp3
/html5/audioAndViedo/johann_sebastian_bach_air.ogg
/html5/audioAndViedo/Intermission-Walk-in.ogv
/html5/audioAndViedo/Intermission-Walk-in_512kb.mp4
